<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Items</key>
	<dict/>
	<key>Levels</key>
	<dict>
		<key>Grassland</key>
		<dict>
			<key>Items</key>
			<dict>
				<key>Wall</key>
				<dict/>
				<key>CastleKey</key>
				<dict>
					<key>RemoveWhen</key>
					<dict>
						<key>CastleKey</key>
						<integer>1</integer>
					</dict>
					<key>AfterContact</key>
					<dict>
						<key>DeleteFromLevel</key>
						<true/>
					</dict>
					<key>Rewards</key>
					<dict>
						<key>CastleKey</key>
						<integer>1</integer>
					</dict>
				</dict>
				<key>TheCastle</key>
				<dict>
					<key>AfterContact - off</key>
					<dict>
						<key>DeleteBody</key>
						<false/>
						<key>DeleteFromLevel</key>
						<false/>
						<key>DontShowAgain</key>
						<false/>
						<key>NoMoreReward</key>
						<false/>
					</dict>
					<key>Appearance</key>
					<dict>
						<key>OpenAnimation - off</key>
						<string></string>
						<key>OpenImage</key>
						<string>CastleOpen</string>
					</dict>
					<key>Sounds</key>
					<dict>
						<key>Open</key>
						<string></string>
						<key>Locked</key>
						<string></string>
					</dict>
					<key>AltPortalTo</key>
					<dict>
						<key>Where</key>
						<string></string>
						<key>Level</key>
						<string></string>
					</dict>
					<key>PortalTo</key>
					<dict>
						<key>Delay</key>
						<integer>2</integer>
						<key>Where</key>
						<string>EntryPoint</string>
						<key>Level</key>
						<string>Ending</string>
					</dict>
					<key>Text</key>
					<dict>
						<key>Time</key>
						<integer>3</integer>
						<key>OpenIcon</key>
						<string>CastleIconOpen</string>
						<key>LockedIcon</key>
						<string>CastleIconLocked</string>
						<key>UnlockedIcon</key>
						<string>CastleIconUnlocked</string>
						<key>Unlocked</key>
						<string>Hey I think I can open the castle now!</string>
						<key>Open</key>
						<array>
							<string>It&apos;s open!</string>
							<string>It&apos;s open, let&apos;s-a-go!</string>
						</array>
						<key>Locked</key>
						<array>
							<string>Uh oh, looks like the castle requires a key...</string>
							<string>Crap! Looks like the castle requires a key...</string>
						</array>
					</dict>
					<key>Rewards -off</key>
					<dict>
						<key>Class</key>
						<string></string>
						<key>Currency</key>
						<string></string>
						<key>Inventory</key>
						<string></string>
						<key>Weapon</key>
						<string></string>
						<key>Health</key>
						<string></string>
					</dict>
					<key>Requires</key>
					<dict>
						<key>TimeToOpen</key>
						<integer>0</integer>
						<key>DeductOnEntry</key>
						<true/>
						<key>Amount</key>
						<integer>1</integer>
						<key>Object</key>
						<string>CastleKey</string>
					</dict>
				</dict>
			</dict>
			<key>Properties</key>
			<dict>
				<key>Clear</key>
				<dict/>
				<key>Rewards</key>
				<dict>
					<key>Class</key>
					<string></string>
					<key>Currency</key>
					<string></string>
					<key>Inventory</key>
					<string></string>
					<key>Fireball</key>
					<string></string>
					<key>Health</key>
					<string></string>
				</dict>
				<key>DisableAttack</key>
				<false/>
				<key>ContinuePoint</key>
				<true/>
				<key>CameraOffset</key>
				<string>{ 0, 0 }</string>
				<key>CameraFollowsPlayer</key>
				<true/>
			</dict>
			<key>NPC</key>
			<dict>
				<key>Luigi</key>
				<dict>
					<key>InfoTime</key>
					<integer>1</integer>
					<key>CollidableWithItems</key>
					<true/>
					<key>CollidableWithPlayer</key>
					<false/>
					<key>Icon</key>
					<string>Down0</string>
					<key>BaseImage</key>
					<string>0</string>
					<key>Range</key>
					<string>VillagerRange</string>
					<key>Right</key>
					<string>LuigiRight</string>
					<key>Left</key>
					<string>LuigiLeft</string>
					<key>Back</key>
					<string>LuigiUp</string>
					<key>Front</key>
					<string>LuigiDown</string>
					<key>SecondSpeech</key>
					<array>
						<string>Did you get the key yet? If so, let&apos;s go into the castle!</string>
					</array>
					<key>InitialSpeech</key>
					<array>
						<string>Mario! We need a key for the castle! It should be at the end of the road.</string>
					</array>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
